# Dependencies
/node_modules
/.pnp
.pnp.js

# Next.js build outputs
/.next/
/out/

# Production
/build/*
!/build/sites-vite-plugin.ts
/dist
/.wrangler

# Misc
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# Generated archives
*.zip

# TypeScript
*.tsbuildinfo
next-env.d.ts
